<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="via_endpoint_integrationservice" value="http://216.162.180.75/PCM/ConfiguratorService/IntegrationService.svc"/>
    <add key="via_endpoint_configname" value="BasicHttpBinding_ProductConfiguratorUIServiceProxy"/>
    <add key="via_instanceID" value="PCM"/>
    <add key="via_appID" value="ChairBuilder"/>
    <add key="via_profile" value="Default"/>
    <add key="via_partNamespace" value="Chair"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ProductConfiguratorUIServiceProxy" maxReceivedMessageSize="10000000" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="CustomBinding_ProductConfiguratorUIServiceProxy">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ProductConfiguratorUIServiceProxy" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://216.162.180.75/PCM/ConfiguratorService/v2/ProductConfiguratorUI.svc"
        binding="wsHttpBinding" bindingConfiguration="CustomBinding_ProductConfiguratorUIServiceProxy"
        contract="ProdConfigUI.ProductConfiguratorUIServiceProxy" name="CustomBinding_ProductConfiguratorUIServiceProxy" />
      <endpoint address="http://216.162.180.75/PCM/ConfiguratorService/v2/ProductConfiguratorUI.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ProductConfiguratorUIServiceProxy"
        contract="ProdConfigUI.ProductConfiguratorUIServiceProxy" name="BasicHttpBinding_ProductConfiguratorUIServiceProxy" />
      <endpoint address="http://216.162.180.75/PCM/ConfiguratorService/v2/ProductConfiguratorUI.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ProductConfiguratorUIServiceProxy"
        contract="ProdConfigUI.ProductConfiguratorUIServiceProxy" name="WSHttpBinding_ProductConfiguratorUIServiceProxy">
        <identity>
          <servicePrincipalName value="host/SVR-VIA-APP2.via.local" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>